@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@1,200&family=Gemunu+Libre&display=swap');


/* About.js */
#bg {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: rgb(60,79,103);
    background: linear-gradient(180deg, rgba(60,79,103,1) 65%, rgba(161,124,125,1) 65%);
}


/* Recommend.js */

#e {
    color: green;
}

#m {
    color: orange;
}

#h {
    color: red;
}

#soon {
    opacity: 15%;
    text-decoration: line-through;
}

#wgu {
    color: #001731;
}

#sdc {
    color: #1497B1;
}

#soph {
    color: #D4E21A;
}
